{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Willkommen!<img src="images/taxi.jpg"></h1>
            </div>
            <div id="next">
                <p>
                    Bitte loggen Sie sich ein: <a href="http://poker.miofair.vm/app_dev.php/poker/start">Log in</a>
                </p>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
